.scroll::-webkit-scrollbar {
  display: none;
}
#mainwrap {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: Black;
  touch-action: none;
}
.main {
  max-width: 390px;
  height: 820px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 12px;
  overflow: hidden;
  overflow-y: scroll;
}
.main::-webkit-scrollbar {
  display: none; /* Chrome , Safari , Opera */
}
.blank {
  width: 390px;
  height: 24px;
  background-color: #fff;
}
.nav {
  width: 390px;
  height: 36px;
  background-image: url(../../public/asset/nav.png);
  background-position: 0 0;
  background-size: cover;
}
.depth_nav {
  width: 390px;
  height: 33px;
  background-image: url(../../public/asset/depth_nav.png);
  background-position: 0 0;
  background-size: cover;
}
.position_banner_on {
  width: 390px;
  height: 79px;
  background-image: url(../../public/asset/position_banner_on.png);
  background-position: 0 0;
  background-size: cover;
  margin-top: 12px;
}
.position_banner_off {
  width: 390px;
  height: 58px;
  background-image: url(../../public/asset/position_banner_off.png);
  background-position: 0 0;
  background-size: cover;
  margin-top: 12px;
  cursor: pointer;
}
.explore_btn {
  width: 390px;
  height: 28px;
  background-image: url(../../public/asset/explore_btn.png);
  background-position: 0 0;
  background-size: cover;
  margin-top: 31px;
}
.explore_menu {
  width: 390px;
  height: 38px;
  background-image: url(../../public/asset/explore_menu.png);
  background-position: 0 0;
  background-size: cover;
  margin-top: 16px;
}
.explore_banner {
  width: 390px;
  height: 360px;
  background-image: url(../../public/asset/explore_banner.png);
  background-position: 0 0;
  background-size: cover;
  margin-top: 16px;
}
.bottom_nav {
  display: inline-flex;
  width: 390px;
  height: 55px;
  position: fixed;
  bottom: 47px;
  left: 0;
  right: 0;
  z-index: 999;
}
.nav_01 {
  width: 168px;
  height: 55px;
  background-image: url(../../public/asset/bottom_nav_01.png);
  background-position: 0 0;
  background-size: cover;
}
.nav_02 {
  width: 54px;
  height: 55px;
  background-image: url(../../public/asset/bottom_nav_02.png);
  background-position: 0 0;
  background-size: cover;
}
.nav_03 {
  width: 168px;
  height: 55px;
  background-image: url(../../public/asset/bottom_nav_03.png);
  background-position: 0 0;
  background-size: cover;
}
.homein {
  width: 390px;
  height: 34px;
  background-image: url(../../public/asset/homeindicator.png);
  background-position: 0 0;
  background-size: cover;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 999;
}
.blank_blur {
  position: absolute;
  z-index: 998;
  background-color: #fff;
  width: 390px;
  height: 130px;
  bottom: 0;
}
.explore_full_btn {
  margin-top: 13px;
  width: 390px;
  height: 750px;
  background-image: url(../../public/asset/explore_full_btn.png);
  background-position: 0 0;
  background-size: cover;
  cursor: pointer;
}
.exploredetail_back {
  width: 390px;
  height: 94px;
  background-image: url(../../public/asset/full_depth_back.png);
  background-position: 0 0;
  background-size: cover;
}
.exploredetail_img {
  width: 390px;
  height: 644px;
  background-image: url(../../public/asset/exploredetail_img.png);
  background-position: 0 0;
  background-size: cover;
}
.donate_btn {
  width: 390px;
  height: 106px;
  background-image: url(../../public/asset/exploredetail_donate_btn.png);
  background-position: 0 0;
  background-size: cover;
}
#donate_input {
  width: 352px;
  height: 56px;
  background-color: #fff;
  z-index: 999;
  position: absolute;
  bottom: 92px;
  left: 50%;
  transform: translate(-50%, 0);
  border: 1px solid #e7e7e7;
  border-radius: 15px;
  box-sizing: border-box;
  text-indent: 38px;
  font-size: 17px;
  background-image: url(../../public/asset/avax.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position-y: 50%;
  background-position-x: 10px;
}
input:focus {
  outline: none;
  background-image: 0;
}
input::-webkit-input-placeholder {
  color: #ababab;
  font-size: 17px;
  text-indent: 38px;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
